@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'leaflet/dist/leaflet.css';

#map {
  height: 100%;
  width: 100%;
}
<<<<<<< HEAD

html, body {
  overflow-x: hidden;
}
=======
html, body {
  overflow-x: hidden;
}
>>>>>>> 9facdfe5f4a3f89b839729c314a5a7aac76128ec
